
*{
    background-color:grey;
}

h1 {
    color:gold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    background-color: rgb(136, 136, 185);
    text font-family: display: border: ;;
}


h3{
    background-color:hotpink;
    text-align: center;
}


.hr{
    line-color: yellow;
    line-style: 5px;
}












