* {
  background-color: grey;
}

h1 {
  color: gold;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 2px solid white;
  background-color: rgb(166, 33, 6);
}

h2 {
  background-color: rgb(136, 136, 185);
  color: beige;
  border: 2px solid white;
  
}

h3 {
  background-color:rgb(230, 172, 14);
  text-align: center;
  border: 2px solid white;
  color:white;
}
.profile-photo {
  border: 3px solid gold;
  margin-left: 100px:
  margin-right: 100px;
  alignment: ="centred"
  margin: between 200
  px;
}
